<!DOCTYPE html>
<head>
  <title>Calentador Electrico</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      var datos = [];

      $(document).ready(function(){
          $('#btn_submit').click(function(){
            var tiempo_calentamiento = $('#tiempo_calentamiento').val();
            var cantidad_curvas = $("#cantidad_curvas").val();
            drawChart(tiempo_calentamiento, 'cubo_telgopor', cantidad_curvas);  
            drawChart(tiempo_calentamiento, 'cubo_polietileno', cantidad_curvas);
            drawChart(tiempo_calentamiento, 'cilindro_telgopor', cantidad_curvas);  
            drawChart(tiempo_calentamiento, 'cilindro_polietileno', cantidad_curvas);  
          });
      });

      function drawChart(tiempo, id, cantidad_curvas) {                
        datos = [];
        var header = ["Segundos"];
        
        for (var i = 1; i <= cantidad_curvas; i++){
          header.push("Temperatura_" + i);
        }

        datos.push(header);

        $.ajax({
          url: '/graficar?tiempo=' + tiempo + '&id=' + id + '&curvas=' + cantidad_curvas,
          async: false,
          success: function(curvas) {
            var valores = [];
            for (var i = 0; i < curvas[0].length; i++){
              valores.push(i);
              for (var j = 0; j < cantidad_curvas; j++){
                valores.push(curvas[j][i][1]); 
              }
              datos.push(valores);
              valores = [];
            }
          },
          dataType: 'json'
        });

        var options = {
          title: id
        };

        var data = google.visualization.arrayToDataTable(datos);
        var chart = new google.visualization.LineChart(document.getElementById(id));
        chart.draw(data, options);
      }
  </script>
</head>
<body>
  <input type="text" id="tiempo_calentamiento" placeholder="Tiempo Calentamiento (seg)" /><br />
  <input type="text" id="cantidad_curvas" placeholder="Cantidad de curvas" /><br />
  <input type="submit" value="Graficar" id="btn_submit"/><br />

  <div id="cubo_telgopor" style="width: 900px; height: 500px;"></div>
  <div id="cubo_polietileno" style="width: 900px; height: 500px;"></div>
  <div id="cilindro_telgopor" style="width: 900px; height: 500px;"></div>
  <div id="cilindro_polietileno" style="width: 900px; height: 500px;"></div>
</body>
</html>
