<!DOCTYPE html>
<head>
  <title>Calentador Electrico</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      var datos = [];

      $(document).ready(function(){
          $('#btn_submit').click(function(){
            var tiempo_calentamiento = $('#tiempo_calentamiento').val();
            drawChart(tiempo_calentamiento, 'cubo_telgopor');  
          });
      });

      function drawChart(tiempo, id) {                
        datos = [];
        datos.push(["Segundos", "Temperatura1", "Temperatura2", "Temperatura3"]);

        $.ajax({
          url: '/graficar?tiempo=' + tiempo + '&id=' + id,
          async: false,
          success: function(curvas) {
            for (var i = 0; i < curvas[0].length; i++){
              datos.push([i, curvas[0][i][1], curvas[1][i][1], curvas[2][i][1]]);  
            }
          },
          dataType: 'json'
        });

        var options = {
          title: id
        };

        var data = google.visualization.arrayToDataTable(datos);
        var chart = new google.visualization.LineChart(document.getElementById(id));
        chart.draw(data, options);
      }
  </script>
</head>
<body>
  <input type="text" id="tiempo_calentamiento" placeholder="Tiempo Calentamiento (seg)" /><br />
  <input type="submit" value="Graficar" id="btn_submit"/>

  <div id="cubo_telgopor" style="width: 900px; height: 500px;"></div>
  <div id="cubo_polietileno" style="width: 900px; height: 500px;"></div>
</body>
</html>
